doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="./stylesheets/reveal.css")
    link(rel="stylesheet" href="./stylesheets/moon.css")
    link(rel="stylesheet" href="./stylesheets/style.css")
  body
    .reveal
      .slides
        section
          h1 The Koolaid
        section
          h2 Software development is hard
          img(src="images/headdesk.gif")
          aside.notes
            p why do we do this?
            p here's how we solved problems
        section
          h2 How do we make work dope?
          p.fragment We put people first
          p.fragment We have super tight feedback loops
          p.fragment We continuously improve ourselves
          p.fragment We have fun
          aside.notes
            p How do we not get burnt out?
            p How do we reduce suck?
            p How do we make people feel comfortable at work and enjoy coming in?
            p We try new things
        section
          section
            h2 As a Lab
            img(src="images/lab.gif")
            aside.notes
              p There are three different ways we broke this down: as a lab, as a team, and as a pair.
          section
            h3 Breakfast
            img(src="images/breakfast.gif")
            aside.notes
              p great time to talk to other teams about their products
              p We come in early for the day to share breakfast.
              p DON'T DO IT AT YOUR DESK.
              p Totally optional not everyone wants to come in earlier for food.
              p.strong Reasons:
              p Helps keep everyone at the same energy level.
              p Free and delicious.
              p Good time to catch up before we start the day.
              p Acclimate to being in the office for a bit before starting the day.
          section
            h3 Global and site standups
            aside.notes
              p Show up on time, leave on time.
              p Change who runs the standup weekly.
              p Go over new faces!
              p Contribute some interestings from time to time.
              p Reasons:
              p Seeing each others faces reminds us that we're all a team in it together.
              p Feels good to ask someone a question instead of just being told to google it &mdash; it strengthens the team.
              p Good to remember that it's ok not know things.
              p Fosters collaboration across product teams and locations.
          section
            h3 Figure out what's working and not working
            aside.notes
              p "Always try to get better" - Matt
              p Iterate through things, keep what works and stop doing what doesn't.
          section
            h3 Lunch
            aside.notes
              p take an hour for lunch
              p take it together or apart
              p just take it (away from your desk)
          section
            h3 A clean lab
            aside.notes
              p label your water bottles
              p clean workstations
        section
          section
            h2 As a Team
            img(src="images/teamwork.gif" style="width: 60%")
            aside.notes
          section
            h3 Small and flat
            aside.notes
              p small dev teams
              p PMs, devs, anchors, and designers are peers
              p everyone sits together and works together
          section
            h3 Product Manager
            aside.notes
              p Manage the product, not the people
              p Got to meetings, so others don't have to
              p The middleground between Product Owners and the Developers
          section
            h3 Anchor
            aside.notes
              p Supports the PM
              p Keeps the product on track, helps it from swaying too much
              p Helps foster team spirit
              p Follow best agile practices
              p Onboarding new developers
              p Can be counted on to know a lot about the product
          section
            h3 Developer
            aside.notes
              p writing code (and tests)
              p following agile
              p everyone sits together and works together
              p communicating blockers as soon as possible
              p delivering features
          section
            h3 Standups
            aside.notes
              p what did you do yesterday?
              p what are you blocked on?
              p keeps everyone on in sync
              p pick your pairs
              p the team runs it
              p go over action items from retro daily until they're done
          section
            h3 We pair
            p.fragment and we rotate our pairs daily
            aside.notes
              p as much as we can
              p instant code review
              p reduces siloed knowledge
              p rotating is more important than immediate velocity
              p be mindful of other pairs focus
          section
            h3 Interrupt pair
            aside.notes
              p changes daily
              p intercepts all incoming interruptions for the team for the day
              p bad interruption "Hey hows it going"
              p good interruption "I need with with this and heard you are the person so talk to"
          section
            h3 Breaks
            p take them before you need them
            aside.notes
              p take them! take them when you need them!
          section
            h3 Meetings
            p.fragment (hootenannies, shindigs, hoedowns)
          section
            h4 Iteration Planning Meeting
            p ("IPM")
            aside.notes
              p we go through tracker
              p keeps the team focused for the week
              p conversation with PM/dev
              p helps us make sure we're building the right thing
          section
            h4 Code review/tech retro
            aside.notes
              p optional
              p keeps everyone up to speed on what changes have happened in the codebase
              p good time to have a discussion about code direction away from your workstations
              p good when it is more than 2 pairs
          section
            h4 Pre-Iteration Planning Meeting
            p.fragment ("pre-IPM")
            aside.notes
              p good time for PM and anchor to sync up at the end of the week
              p enables a smoother IPM
          section
            h4 Weekly retro
            aside.notes
              p "Respect your team" - Matt
              p not a good time to give each other personal feedback
          section
            h3 User feedback
            aside.notes
              p "Users first" - Matt
              p love user feedback
              p get it often
              p release early, release often
        section
          section
            h2 As as a pair
            img(src="images/pair.gif" style="width: 60%")
          section
            h3 Workstations are sacred
            aside.notes
              p phones are put away and checked in the hallway
              p we don't eat at meals at our desks
              p personal business is not handled at the workstation
              p workstations are for work (crazytown!)
          section
            h3 Feedback on the spot
            p.fragment kind, actionable, specific
            aside.notes
              p "Respect your pair" - Matt
              p should be given in a timely manner
              p pluses &amp; deltas can be a good exercise at the end of the day
              p you don't have to wait until retro
          section
            h3 Learning all the time
            aside.notes
              p "Learn always" - Matt
              p open source day
              p confident, not cocky
              p it's ok to not know
              p lunch and learns
          section
            h3 Red, green, refactor
            p (test-driven development)
            aside.notes
              p WHAT DO WE SAY TO THE GOD OF DEBT?! NOT TODAY!!!
              p leave things better than we found them
              p keeps code clean, maintainable
              p doing it right &amp; doing it fast
        section
          h5 ~Fin~
          section

    script(src="./lib/js/head.min.js")
    script(src="./javascripts/reveal.js")
    script(type="text/javascript").
      Reveal.initialize({
        history: true,
        dependencies: [
          {src: "plugins/notes/notes.js", async: true}
        ]
      })
